@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
@font-face {
  font-family: 'white_larch_personal_use_onRg';
  src: url("../font/whitelarch/whitelarch_personal_use-webfont.woff2") format("woff2"), url("../font/whitelarch/whitelarch_personal_use-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
body, html {
  height: 100%;
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0; }

a:hover {
  text-decoration: none; }

.valign-wrapper {
  display: table;
  height: 100%;
  width: 100%; }
  .valign-wrapper.overlay {
    background: rgba(0, 0, 0, 0.5); }
  .valign-wrapper .valign {
    display: table-cell;
    vertical-align: middle; }

.cf-custom {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px; }

.navbar {
  border: none !important;
  margin-bottom: 0 !important; }

.navbar-custom {
  background: url("../img/homepage_visual.jpg") no-repeat;
  top: 0;
  left: 0;
  background-position: 0 -200px;
  background-size: cover;
  height: 750px;
  z-index: 5; }

.navbar-nav {
  text-transform: uppercase;
  font-weight: 100;
  margin-top: 20px;
  margin-left: 50px; }
  .navbar-nav li {
    margin-left: 50px; }
    .navbar-nav li a {
      color: #fff;
      font-weight: 300; }
      .navbar-nav li a.active {
        font-weight: bold; }
      .navbar-nav li a.active, .navbar-nav li a:hover, .navbar-nav li a:focus {
        color: #fed43c;
        background: none !important; }

.navbar-right li {
  margin-left: 5px; }
  .navbar-right li.dropdown {
    margin-left: 100px; }
  .navbar-right li .dropdown-toggle {
    font-weight: bold; }
  .navbar-right li .dropdown-menu {
    min-width: 60px !important;
    height: 60px !important;
    background: #3f4b56 !important;
    margin-top: -10px; }
  .navbar-right li .dropdown-menu li a {
    font-weight: bold !important;
    text-align: center !important; }
  .navbar-right li i:hover {
    color: #fed43c; }
  .navbar-right li img {
    height: 18px; }

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background: none !important;
  border: none !important; }

.dropdown-menu {
  background: none !important;
  border: none !important;
  text-align: right;
  box-shadow: none !important;
  margin-right: -15px !important; }

.caret {
  position: absolute !important;
  top: 30px !important;
  left: 40px !important; }

.central-logo {
  padding-top: 140px; }
  .central-logo img {
    margin-bottom: 30px; }
  .central-logo h1 {
    color: #fff;
    font-family: 'white_larch_personal_use_onRg';
    font-weight: bold;
    font-size: 65px; }

.section1 {
  background: #e6eaed;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative; }
  .section1 h2 {
    text-transform: uppercase;
    color: #3f4b56;
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 300; }
  .section1 p {
    color: #3f4b56;
    font-size: 20px;
    line-height: 1.8;
    margin-bottom: 50px; }
  .section1 .cf-custom-section1 {
    padding-left: 150px;
    padding-right: 150px; }
  .section1 .text-section1 {
    z-index: 7;
    position: relative; }
  .section1 .back-right {
    background: url("../img/grafica.png") no-repeat;
    position: absolute;
    top: -120%;
    right: 0;
    width: 700px;
    height: 700px;
    opacity: .8; }
  .section1 .back-left {
    background: url("../img/grafica_low.png") no-repeat;
    position: absolute;
    top: 40%;
    left: 0;
    width: 700px;
    height: 700px;
    opacity: .8; }

.button-section1 a {
  font-weight: 300;
  font-size: 20px;
  text-transform: uppercase;
  color: #7fa2a8; }

.section2 {
  position: relative;
  z-index: 9;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #fff; }

.img-categoria, .img-categoria1, .img-categoria2, .img-categoria3 {
  background: url("../img/homepage/tuttelecase_valdesi.png") no-repeat #3f4b56;
  background-position: center;
  width: 100px;
  height: 100px;
  border-radius: 49.9999%;
  float: left;
  margin-right: 40px; }

.img-categoria1 {
  background: url("../img/homepage/citta_arte.png") no-repeat #e36b5e; }

.img-categoria2 {
  background: url("../img/homepage/montagna.png") no-repeat #99bb59; }

.img-categoria3 {
  background: url("../img/homepage/iconamare.png") no-repeat #8db4bb; }

.text-categoria p {
  margin-top: 30px;
  font-size: 22px;
  font-weight: 300;
  text-transform: uppercase; }

.section3 {
  background: url("../img/map.png") no-repeat;
  background-size: cover;
  background-position: 0 -200px;
  position: relative;
  z-index: 9;
  height: 500px; }

.first-image-section4 {
  background: url("http://www.timetolove.it/wp-content/uploads/2016/04/fare-del-bene.jpg");
  background-position: center;
  background-size: cover;
  border-right: 5px solid #fff;
  padding: 0 !important;
  border-top: 5px solid #fff; }
  .first-image-section4 h2 {
    padding-top: 120px;
    text-transform: uppercase;
    font-weight: bold;
    color: #e4c76b;
    margin-bottom: 30px;
    font-size: 24px; }
  .first-image-section4 p {
    padding-right: 100px;
    padding-left: 100px;
    font-size: 20px;
    line-height: 1.8;
    font-weight: 300;
    color: #fff;
    margin-bottom: 60px; }
  .first-image-section4 a {
    display: block;
    color: #e4c76b;
    background: trasparent;
    border-radius: 5px;
    border: 2px solid #e4c76b;
    padding: 10px 5px;
    width: 250px;
    margin: 0 auto;
    margin-bottom: 80px;
    font-size: 20px; }
    .first-image-section4 a:hover {
      background: #fff;
      border: 2px solid #fff;
      color: #3f4b56; }

.second-image-section4, .third-image-section4 {
  border-right: none !important;
  border-top: 5px solid #fff; }

.img-allineate-left {
  float: left;
  margin-left: 100px !important; }

.img-allineate-right {
  display: inline-block !important;
  margin-left: 100px !important; }

.third-image-section4 {
  border-top: 5px solid #fff;
  border-bottom: 5px solid #fff; }
  .third-image-section4 .image-buono {
    background: url("../img/homepage/iconabuonoregalo.png") no-repeat;
    background-position: center;
    width: 150px;
    height: 150px;
    border-radius: 49.9999%;
    border: 5px solid #fff;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: -100px; }
  .third-image-section4 .text-buono {
    font-weight: 300 !important;
    color: #fff !important; }

.cf-custom-third-image-section4 {
  padding-left: 200px !important;
  padding-right: 200px !important; }

.footer {
  padding-top: 50px;
  background: #8db4bb; }
  .footer .loghi-footer img {
    margin-bottom: 100px; }
    .footer .loghi-footer img.second-logo-footer {
      margin-left: 50px; }

.menu-footer ul {
  list-style: none;
  margin-left: 120px;
  margin-bottom: 100px; }
  .menu-footer ul li {
    float: left; }
    .menu-footer ul li a {
      text-transform: uppercase;
      margin-left: 130px;
      font-weight: 300;
      color: #fff;
      font-size: 18px;
      font-weight: 500; }
      .menu-footer ul li a:hover {
        color: #fed43c;
        font-weight: 500; }

.membri-footer {
  border-top: 1px solid #fff;
  padding-bottom: 50px;
  padding-top: 30px; }
  .membri-footer h2 {
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 30px; }
  .membri-footer img {
    margin-left: -300px; }

.social-footer {
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  padding-bottom: 50px;
  padding-top: 30px; }
  .social-footer h2 {
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 30px; }
  .social-footer ul {
    list-style: none;
    margin-left: 80px; }
  .social-footer li {
    float: left;
    margin-left: 70px; }
  .social-footer a {
    color: #fff; }
    .social-footer a:hover {
      color: #fed43c; }
  .social-footer .cb {
    clear: both;
    margin-bottom: 50px; }
  .social-footer .mail-footer {
    color: #fff;
    font-style: italic;
    font-weight: 500;
    font-size: 14px; }
  .social-footer .mail-link {
    font-size: 14px;
    font-weight: 300; }

.newsletter-footer {
  border-top: 1px solid #fff;
  padding-top: 30px; }
  .newsletter-footer h2 {
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 30px; }
  .newsletter-footer p {
    color: #fff;
    font-size: 14px;
    margin-bottom: 50px; }
  .newsletter-footer span {
    font-weight: 700;
    font-style: italic; }
  .newsletter-footer input {
    padding: 10px;
    background: none !important;
    border: 2px solid #fff;
    border-radius: 2px;
    color: #fff;
    width: 260px; }
    .newsletter-footer input.submit-newsletter {
      text-transform: uppercase;
      padding: 15px;
      width: 75px;
      height: auto;
      background: #fff !important;
      color: #799ea4;
      border: none !important;
      box-shadow: none !important;
      font-size: 14px;
      margin-left: -10px; }

.bottom-footer {
  padding-top: 5px;
  padding-bottom: 5px;
  background: #fff; }
  .bottom-footer p {
    font-size: 14px;
    margin-top: 7px;
    color: #8db4bb;
    border-right: 2px solid #8db4bb;
    padding-right: 10px;
    margin-left: -20px; }
    .bottom-footer p.no-border {
      border-right: none !important; }
  .bottom-footer .cf-footer {
    padding-left: 250px !important;
    padding-right: 250px !important; }

/*# sourceMappingURL=main.css.map */
