@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
@font-face {
  font-family: 'white_larch_personal_use_onRg';
  src: url("../font/whitelarch/whitelarch_personal_use-webfont.woff2") format("woff2"), url("../font/whitelarch/whitelarch_personal_use-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/** Homepage Desktop **/
body, html {
  height: 100%;
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0; }

a:hover {
  text-decoration: none; }

.valign-wrapper {
  display: table;
  height: 100%;
  width: 100%; }
  .valign-wrapper.overlay {
    background: rgba(0, 0, 0, 0.5); }
  .valign-wrapper .valign {
    display: table-cell;
    vertical-align: middle;
    width: 100%; }

.overlay2 {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  padding-top: 60px; }

.cf-custom {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  width: 100%;
  position: fixed;
  transition: all 0.5s ease-in-out; }

.navbar {
  border: none !important;
  margin-bottom: 0 !important; }

.navbar-custom {
  background: url("../img/homepage_visual.jpg") no-repeat;
  top: 0;
  left: 0;
  background-position: 0 -200px;
  background-size: cover;
  height: 750px;
  z-index: 99; }

.scrolled {
  height: 80px;
  background: #fff;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(238, 238, 238, 0.75);
  -moz-box-shadow: 0px 2px 1px 0px rgba(238, 238, 238, 0.75);
  box-shadow: 0px 2px 1px 0px rgba(238, 238, 238, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  padding-left: 50px;
  padding-right: 50px;
  transition: all 0.5s ease-in-out; }

.navcolored {
  color: #8db4bb !important;
  font-weight: 500 !important; }

.navcolored.active {
  font-weight: 700 !important;
  color: #3f4b56 !important; }

.navbar-brand svg {
  width: 80px;
  height: auto;
  transition: all .5s ease-in-out; }
  .navbar-brand svg path {
    fill: #fff; }

.logo-colored svg {
  width: 80px;
  height: auto;
  transition: all .5s ease-in-out;
  margin-top: -8px; }
  .logo-colored svg path {
    fill: #3f4b56 !important; }

.navbar-nav {
  text-transform: uppercase;
  font-weight: 100;
  margin-top: 12px;
  margin-left: 50px; }
  .navbar-nav li {
    margin-left: 50px; }
    .navbar-nav li a {
      color: #fff;
      font-weight: 300; }
      .navbar-nav li a.active {
        font-weight: bold; }
      .navbar-nav li a.active, .navbar-nav li a:hover, .navbar-nav li a:focus {
        color: #fed43c;
        background: none !important; }

.navbar-right li {
  margin-left: 5px; }
  .navbar-right li.dropdown {
    margin-left: 100px; }
  .navbar-right li .dropdown-toggle {
    font-weight: bold; }
  .navbar-right li .dropdown-menu {
    min-width: 60px !important;
    height: 60px !important;
    background: #3f4b56;
    margin-top: -10px; }
  .navbar-right li .dropdown-menu li a {
    font-weight: bold !important;
    text-align: center !important; }
    .navbar-right li .dropdown-menu li a:hover {
      color: #fed43c !important; }
  .navbar-right li img {
    height: 18px; }

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background: none !important;
  border: none !important; }

.dropdown-menu {
  border: none !important;
  text-align: right;
  box-shadow: none !important;
  margin-right: -15px !important; }

.navcolored:hover {
  color: #3f4b56 !important; }

.caret {
  position: absolute !important;
  top: 30px !important;
  left: 40px !important; }

.central-logo {
  padding-top: 250px; }
  .central-logo img {
    margin-bottom: 30px;
    width: 375px;
    height: auto; }
  .central-logo h1 {
    color: #fff;
    font-family: 'white_larch_personal_use_onRg';
    font-weight: bold;
    font-size: 65px; }
  .central-logo .scrolldown-page {
    background: url("../img/homepage/iconascrolldown.png") no-repeat;
    background-position: center;
    background-size: 30px auto;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-top: 80px; }

.section1 {
  background: #e6eaed;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  overflow: hidden; }
  .section1 h2 {
    text-transform: uppercase;
    color: #3f4b56;
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 300; }
  .section1 p {
    color: #3f4b56;
    font-size: 20px;
    line-height: 1.8;
    margin-bottom: 50px; }
  .section1 .cf-custom-section1 {
    padding-left: 150px;
    padding-right: 150px; }
  .section1 .text-section1 {
    z-index: 7;
    position: relative; }
  .section1 .back-right {
    background: url("../img/grafica.png") no-repeat;
    position: absolute;
    top: -120%;
    right: 0;
    width: 700px;
    height: 800px;
    opacity: .8; }
  .section1 .back-left {
    background: url("../img/grafica_low.png") no-repeat;
    position: absolute;
    top: 40%;
    left: 0;
    width: 700px;
    height: 700px;
    opacity: .8; }

.button-section1 a {
  font-weight: 300;
  font-size: 20px;
  text-transform: uppercase;
  color: #7fa2a8; }

.section2 {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #fff; }

.img-categoria, .img-categoria1, .img-categoria2, .img-categoria3 {
  background: url("../img/homepage/tuttelecase_valdesi.png") no-repeat #3f4b56;
  background-position: center;
  width: 100px;
  height: 100px;
  border-radius: 49.9999%;
  float: left;
  margin-right: 40px; }

.img-categoria1 {
  background: url("../img/homepage/citta_arte.png") no-repeat #e36b5e; }

.img-categoria2 {
  background: url("../img/homepage/montagna.png") no-repeat #99bb59; }

.img-categoria3 {
  background: url("../img/homepage/iconamare.png") no-repeat #8db4bb; }

.text-categoria p {
  margin-top: 30px;
  font-size: 22px;
  font-weight: 300;
  text-transform: uppercase; }

.section3 {
  background: url("../img/map.png") no-repeat;
  background-size: cover;
  background-position: 0 -200px;
  position: relative;
  z-index: 9;
  height: 500px; }

.first-image-section4 {
  background: url("http://www.timetolove.it/wp-content/uploads/2016/04/fare-del-bene.jpg");
  background-position: center;
  background-size: cover;
  border-right: 5px solid #fff;
  padding: 0 !important;
  border-top: 5px solid #fff; }
  .first-image-section4 h2 {
    padding-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #e4c76b;
    margin-bottom: 30px;
    font-size: 24px; }
  .first-image-section4 p {
    padding-right: 100px;
    padding-left: 100px;
    font-size: 20px;
    line-height: 1.8;
    font-weight: 300;
    color: #fff;
    margin-bottom: 60px; }
  .first-image-section4 a {
    display: block;
    color: #e4c76b;
    background: trasparent;
    border-radius: 5px;
    border: 2px solid #e4c76b;
    padding: 10px 5px;
    width: 250px;
    margin: 0 auto;
    margin-bottom: 80px;
    font-size: 20px; }
    .first-image-section4 a:hover {
      background: #fff;
      border: 2px solid #fff;
      color: #3f4b56; }

.second-image-section4, .third-image-section4 {
  border-right: none !important;
  border-top: 5px solid #fff; }

.img-allineate-left {
  float: left;
  margin-left: 100px !important; }

.img-allineate-right {
  display: inline-block !important;
  margin-left: 100px !important; }

.third-image-section4 {
  border-top: 5px solid #fff;
  border-bottom: 5px solid #fff; }
  .third-image-section4 .image-buono {
    background: url("../img/homepage/iconabuonoregalo.png") no-repeat;
    background-position: center;
    width: 150px;
    height: 150px;
    border-radius: 49.9999%;
    border: 5px solid #fff;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px; }
  .third-image-section4 .text-buono {
    font-weight: 300 !important;
    color: #fff !important; }

.cf-custom-third-image-section4 {
  padding-left: 200px !important;
  padding-right: 200px !important; }

.footer {
  padding-top: 50px;
  background: #8db4bb; }
  .footer .loghi-footer img {
    width: 105px;
    height: auto;
    margin-bottom: 80px;
    float: right;
    margin-right: 50px;
    margin-top: 80px; }
    .footer .loghi-footer img.second-logo-footer {
      width: 204px;
      height: auto;
      float: left; }

.menu-footer ul {
  list-style: none;
  margin-left: 0;
  margin-bottom: 100px; }
  .menu-footer ul li {
    float: left; }
    .menu-footer ul li a {
      text-transform: uppercase;
      font-weight: 300;
      color: #fff;
      font-size: 18px;
      font-weight: 500; }
      .menu-footer ul li a:hover {
        color: #fed43c;
        font-weight: 500; }

.membri-footer {
  border-top: 1px solid #fff;
  padding-bottom: 50px;
  padding-top: 30px; }
  .membri-footer h2 {
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 30px; }
  .membri-footer img {
    margin-left: -300px; }

.social-footer {
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  padding-bottom: 50px;
  padding-top: 30px; }
  .social-footer h2 {
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 30px; }
  .social-footer ul {
    list-style: none;
    margin-left: 0; }
  .social-footer li {
    float: left;
    margin-left: 0; }
  .social-footer a {
    color: #fff; }
    .social-footer a:hover {
      color: #fed43c; }
  .social-footer .cb {
    clear: both;
    margin-bottom: 50px; }
  .social-footer .mail-footer {
    color: #fff;
    font-style: italic;
    font-weight: 500;
    font-size: 14px; }
  .social-footer .mail-link {
    font-size: 14px;
    font-weight: 300; }

.newsletter-footer ::-webkit-input-placeholder {
  color: #fff !important; }

.newsletter-footer :-moz-placeholder {
  /* Firefox 18- */
  color: #fff !important; }

.newsletter-footer ::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff !important; }

.newsletter-footer :-ms-input-placeholder {
  color: #fff !important; }

.newsletter-footer {
  border-top: 1px solid #fff;
  padding-top: 30px; }
  .newsletter-footer h2 {
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 30px; }
  .newsletter-footer p {
    color: #fff;
    font-size: 14px;
    margin-bottom: 50px; }
  .newsletter-footer span {
    font-weight: 700;
    font-style: italic; }
  .newsletter-footer input {
    padding: 10px;
    background: none !important;
    border: 2px solid #fff;
    border-radius: 2px;
    color: #fff;
    width: 260px; }
    .newsletter-footer input.submit-newsletter {
      text-transform: uppercase;
      padding: 15px;
      width: 75px;
      height: auto;
      background: #fff !important;
      color: #799ea4;
      border: none !important;
      box-shadow: none !important;
      font-size: 14px;
      margin-left: -10px; }
      .newsletter-footer input.submit-newsletter:hover {
        background: #f8f8f8 !important; }

.bottom-footer {
  padding-top: 5px;
  padding-bottom: 5px;
  background: #fff; }
  .bottom-footer p {
    font-size: 14px;
    margin-top: 7px;
    color: #8db4bb;
    border-right: 2px solid #8db4bb;
    padding-right: 10px;
    margin-left: -20px; }
    .bottom-footer p.no-border {
      border-right: none !important; }
  .bottom-footer .cf-footer {
    padding-left: 250px !important;
    padding-right: 250px !important; }

/** Foresterie Desktop **/
#section1-foresterie {
  background: #fff; }
  #section1-foresterie .title-section1-foresterie p {
    font-size: 24px; }
  #section1-foresterie .back-right {
    top: -88%; }

.strutture-foresterie {
  margin-top: -10px;
  position: relative;
  z-index: 20; }
  .strutture-foresterie p {
    font-weight: 300;
    font-size: 18px; }
  .strutture-foresterie img {
    margin-top: -30px; }

#section2-foresterie {
  background: #e6eaed;
  padding-bottom: 70px !important; }
  #section2-foresterie .title-section2-foresterie p {
    font-size: 24px; }
  #section2-foresterie img {
    width: auto;
    height: 50px;
    margin-bottom: 80px; }

.contact-info a {
  font-weight: 300;
  font-size: 20px;
  text-transform: uppercase;
  color: #7fa2a8;
  border: 2px solid #7fa2a8;
  padding: 20px;
  border-radius: 3px; }
.contact-info a:hover {
  background: #fff; }

#section3-foresterie {
  background: none !important;
  padding: 0 !important; }

.foto-no-pad {
  padding: 0; }
  .foto-no-pad .foto-wrapper {
    height: 600px;
    padding: 0;
    position: relative; }
    .foto-no-pad .foto-wrapper .foto {
      height: 100%;
      width: 100%;
      position: relative;
      background-position: center !important;
      background-size: cover !important;
      padding: 0;
      cursor: pointer;
      position: relative; }
  .foto-no-pad .foto {
    background-position: center !important;
    background-size: cover !important;
    padding: 0;
    cursor: pointer;
    position: relative;
    height: 600px; }
  .foto-no-pad .foto1, .foto-no-pad .foto6, .foto-no-pad .foto11 {
    background: #000; }
  .foto-no-pad .foto2 {
    background: url("../img/foresterie/foto/firenze.jpg"); }
  .foto-no-pad .foto3 {
    background: url("../img/foresterie/foto/roma.jpg"); }
  .foto-no-pad .foto4 {
    background: url("../img/foresterie/foto/venezia.jpg"); }
  .foto-no-pad .foto5 {
    background: url("../img/foresterie/foto/palermo.jpg"); }
  .foto-no-pad .foto7 {
    background: url("../img/foresterie/foto/torrepellice.jpg"); }
  .foto-no-pad .foto8 {
    background: url("../img/foresterie/foto/reggello.jpg"); }
  .foto-no-pad .foto9 {
    background: url("../img/foresterie/foto/agape.jpg"); }
  .foto-no-pad .foto10 {
    background: url("../img/foresterie/foto/agape.jpg"); }
  .foto-no-pad .foto12 {
    background: url("../img/foresterie/foto/isolaelba.jpg"); }
  .foto-no-pad .foto13 {
    background: url("../img/foresterie/foto/vallecrosia.jpg"); }
  .foto-no-pad .foto14 {
    background: url("../img/foresterie/foto/pietraligure.jpg"); }
  .foto-no-pad .img-categoria, .foto-no-pad .img-categoria1, .foto-no-pad .img-categoria2, .foto-no-pad .img-categoria3 {
    float: none !important;
    margin: 0 auto;
    margin-top: 30%;
    margin-bottom: 2%; }
  .foto-no-pad .foto1 .text-categoria p {
    color: #e36b5e !important; }
  .foto-no-pad .foto6 .text-categoria p {
    color: #99bb59 !important; }
  .foto-no-pad .foto11 .text-categoria p {
    color: #8db4bb !important; }
  .foto-no-pad .text-categoria p {
    font-size: 24px;
    font-weight: 500; }

.overlay2-hover {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  transition: all .3s ease-in-out; }
  .overlay2-hover.active {
    display: block; }

.overlay2-hover h2 {
  margin-bottom: 0 !important; }

.remove-foto-hover {
  display: none; }

.overlay2-hover-active {
  opacity: 1;
  transition: all .3s ease-in-out; }

.title-foto-hover-green {
  background: #99bb59 !important; }

.title-foto-hover-blue {
  background: #8db4bb !important; }

.title-foto-hover {
  background: #e36b5e;
  margin-bottom: 20px; }
  .title-foto-hover .green-title {
    background: #99bb59; }
  .title-foto-hover .blue-title {
    background: #8db4bb; }
  .title-foto-hover h2 {
    font-weight: 500;
    font-size: 24px;
    color: #fff;
    padding-bottom: 15px; }

.text-foto-hover {
  padding-left: 15px;
  padding-right: 15px; }
  .text-foto-hover p {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 30px; }

.service-foto-hover img {
  height: 40px;
  width: auto; }

.service-foto-hover p {
  font-size: 14px;
  color: #fff;
  font-weight: 300;
  margin-bottom: 20px; }

.button-foto-hover {
  padding-top: 45%; }
  .button-foto-hover a {
    display: block;
    color: #fff;
    width: 120px;
    height: 120px;
    border-radius: 49.9999%;
    border: 2px solid #fff;
    text-align: center;
    padding-top: 24%;
    font-size: 20px;
    margin: 0 auto; }
    .button-foto-hover a.red-hover:hover {
      background: #e36b5e;
      border: 2px solid #e36b5e; }
    .button-foto-hover a.green-hover:hover {
      background: #99bb59;
      border: 2px solid #99bb59; }
    .button-foto-hover a.blue-hover:hover {
      background: #8db4bb;
      border: 2px solid #8db4bb; }

.info-nascoste {
  display: none; }
  .info-nascoste a {
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
    color: #7fa2a8;
    border: 2px solid #7fa2a8;
    padding: 20px;
    border-radius: 3px; }

.title-nascosto h2 {
  display: none; }

/** Sostenibilit├á Desktop **/
#section1-sostenibilita, #section2-sostenibilita {
  background: #fff; }
  #section1-sostenibilita .title-section1-foresterie p, #section2-sostenibilita .title-section1-foresterie p {
    font-size: 24px; }
  #section1-sostenibilita .back-left, #section2-sostenibilita .back-left {
    top: 70%; }

.cf0pad {
  padding-left: 0;
  padding-right: 0; }

/** Contatti Desktop **/
#section1-contatti {
  background: #eeeeee; }
  #section1-contatti p {
    margin-top: -15px; }
  #section1-contatti form {
    width: 90%; }
  #section1-contatti input {
    margin-bottom: 30px; }
  #section1-contatti input, #section1-contatti textarea {
    font-size: 18px !important;
    font-style: italic; }
  #section1-contatti textarea {
    margin-top: 70px;
    min-height: 285px !important; }
  #section1-contatti .form-contact-input, #section1-contatti .button-form-contact-input {
    padding: 15px !important;
    height: 65px;
    border: none !important;
    padding-left: 25px !important; }
  #section1-contatti .button-form-contact-input {
    background: #fed43c !important;
    color: #3f4b56 !important;
    border: none !important;
    box-shadow: none !important;
    border-color: none !important;
    font-size: 18px;
    height: 50px;
    text-align: center !important;
    padding-left: 15px !important;
    margin-top: 10px;
    font-style: normal; }
    #section1-contatti .button-form-contact-input:hover {
      background: #f1c920 !important; }
  #section1-contatti .contact-newsletter ::-webkit-input-placeholder {
    color: #ffd522 !important; }
  #section1-contatti .contact-newsletter :-moz-placeholder {
    /* Firefox 18- */
    color: #ffd522 !important; }
  #section1-contatti .contact-newsletter ::-moz-placeholder {
    /* Firefox 19+ */
    color: #ffd522 !important; }
  #section1-contatti .contact-newsletter :-ms-input-placeholder {
    color: #ffd522 !important; }
  #section1-contatti .contact-newsletter input {
    padding: 10px;
    background: none !important;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    width: 400px;
    font-style: normal;
    text-align: center;
    margin: 0 auto;
    margin-left: 15%; }
  #section1-contatti .contact-newsletter input.submit-newsletter {
    padding: 15px;
    width: 120px;
    height: auto;
    border-radius: 5px;
    background: #ffd522 !important;
    color: #3f4b56;
    border: none !important;
    box-shadow: none !important;
    font-size: 14px;
    margin-left: 50px;
    margin-bottom: 200px; }
    #section1-contatti .contact-newsletter input.submit-newsletter:hover {
      background: #f1c920 !important; }

.cf0 {
  padding-right: 0 !important;
  padding-left: 50px; }

.contact-left p {
  font-size: 14px;
  font-weight: 300;
  margin-left: 20px;
  clear: both; }

.contact-right {
  padding-right: 0 !important;
  padding-left: 0;
  background: url("../img/visual_contatti.jpg");
  background-position: center;
  background-size: cover; }
  .contact-right h2 {
    color: #fff;
    font-weight: 300;
    padding-left: 10%;
    padding-right: 10%; }
  .contact-right p {
    color: #fff;
    font-size: 24px;
    font-weight: 300; }
  .contact-right form {
    width: 100% !important;
    margin: 0 auto; }

.icon-contact {
  background: url("../img/iconanewsletter.png") no-repeat;
  background-position: center;
  width: 150px;
  height: 150px;
  border-radius: 49.9999%;
  border: 5px solid #ffd522;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 30px; }

/** Blog Desktop **/
.article-wrapper {
  background: #fff !important;
  padding: 70px;
  padding-bottom: 120px;
  margin-bottom: 50px;
  -webkit-box-shadow: 0px 0px 1px 1px #dadada;
  -moz-box-shadow: 0px 0px 1px 1px #dadada;
  box-shadow: 0px 0px 1px 1px #dadada; }
  .article-wrapper .article-image {
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover; }
  .article-wrapper .article-title h2 {
    font-size: 24px;
    font-weight: 500;
    text-transform: none;
    color: #8a8a8a;
    margin-top: 50px;
    padding-bottom: 15px;
    position: relative; }
    .article-wrapper .article-title h2:after {
      content: ' ';
      position: absolute;
      width: 30%;
      border-bottom: 3px solid #ffd522;
      left: 0;
      bottom: 0; }
  .article-wrapper .article-text p {
    color: #8a8a8a;
    font-size: 16px;
    font-weight: 300;
    font-style: italic; }
  .article-wrapper .article-more a {
    color: #8a8a8a;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase; }
  .article-wrapper .article-reactions {
    padding-left: 0;
    margin-top: 50px; }
    .article-wrapper .article-reactions .icon-reactions {
      margin-left: 0 !important;
      padding-left: 0; }
      .article-wrapper .article-reactions .icon-reactions i {
        color: #ffd522;
        float: left;
        margin-right: 20px; }
      .article-wrapper .article-reactions .icon-reactions p {
        font-weight: 300;
        font-size: 16px;
        color: #8a8a8a; }

.list-blog {
  float: right;
  margin-bottom: 100px; }
  .list-blog i {
    color: #8a8a8a; }
    .list-blog i:hover {
      color: #ffd522; }
  .list-blog i.list-article-icon {
    margin-right: 50px;
    color: #ffd522; }

.blog-right {
  padding-left: 80px; }
  .blog-right .about-blog h2 {
    font-size: 24px;
    font-weight: normal;
    text-transform: none;
    color: #71989e; }
  .blog-right .about-blog p {
    color: #8a8a8a;
    font-size: 16px;
    font-weight: 300;
    margin-top: 30px;
    font-style: italic; }
  .blog-right .last-comment-fb {
    border-top: 1px solid #d8d8d8;
    margin-top: 60px;
    padding-top: 50px; }
    .blog-right .last-comment-fb h2 {
      font-size: 24px;
      font-weight: normal;
      text-transform: none;
      color: #71989e;
      margin-bottom: 50px; }
    .blog-right .last-comment-fb img {
      width: 70px;
      height: 70px;
      border-radius: 49.9999%; }
    .blog-right .last-comment-fb p {
      color: #8a8a8a;
      font-size: 18px;
      font-weight: 300;
      font-style: italic;
      margin-bottom: 0; }
      .blog-right .last-comment-fb p.firma {
        font-style: normal;
        font-weight: 300;
        color: #c4c4c4;
        font-size: 18px;
        margin-bottom: 50px; }
  .blog-right .social-sidebar {
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    padding-top: 30px;
    padding-bottom: 30px; }
    .blog-right .social-sidebar h2 {
      margin-bottom: 30px !important; }
    .blog-right .social-sidebar p {
      padding-top: 7px;
      font-style: normal;
      font-weight: 500;
      color: #71989e; }
  .blog-right .social-link-sidebar {
    padding: 0;
    text-align: center;
    width: 45px;
    height: 45px;
    color: #8a8a8a;
    border-radius: 49.9999%;
    border: 2px solid #8a8a8a;
    padding-top: 10px;
    font-size: 11px;
    margin-left: 10px; }
    .blog-right .social-link-sidebar:hover {
      background: #fed43c !important;
      border: 2px solid #fed43c; }

.tag-sidebar {
  margin-top: 30px; }
  .tag-sidebar h2 {
    color: #717171 !important;
    margin-bottom: 30px !important; }
  .tag-sidebar a {
    text-align: center;
    display: block;
    text-transform: uppercase;
    color: #8a8a8a;
    font-size: 20px;
    padding: 10px;
    font-weight: 500;
    font-style: normal;
    border: 2px solid;
    margin-bottom: 35px; }
    .tag-sidebar a:hover {
      background: #fed43c;
      border: 2px solid #fed43c; }

.newsletter-sidebar {
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  margin-top: 10px;
  padding-bottom: 40px; }
  .newsletter-sidebar h2 {
    padding-top: 10px;
    margin-bottom: 30px !important; }
  .newsletter-sidebar .input-mail-sidebar, .newsletter-sidebar .submit-sidebar {
    background: none !important;
    border-radius: 5px;
    border: 2px solid #8a8a8a;
    text-align: center;
    font-size: 16px;
    height: 50px; }
  .newsletter-sidebar .submit-sidebar {
    box-shadow: none !important;
    text-shadow: none !important; }
    .newsletter-sidebar .submit-sidebar:hover {
      background: #fed43c !important;
      border: 2px solid #fed43c; }

.book-sidebar {
  margin-top: 15px; }
  .book-sidebar h2 {
    margin-bottom: 30px !important; }
  .book-sidebar a {
    text-align: center;
    display: block;
    text-transform: uppercase;
    color: #8a8a8a;
    font-size: 20px;
    padding: 10px;
    font-weight: 500;
    font-style: normal;
    border: 2px solid;
    margin-bottom: 35px; }
    .book-sidebar a:hover {
      background: #fed43c;
      border: 2px solid #fed43c; }

.pagination-link {
  margin-top: 50px;
  padding-bottom: 50px; }
  .pagination-link .pagination-number {
    width: 300px;
    margin: 0 auto;
    text-align: center; }
    .pagination-link .pagination-number .pagination-number-container {
      text-align: center;
      margin: 0 auto; }
      .pagination-link .pagination-number .pagination-number-container .pagination-single-number {
        width: 50px;
        height: 50px;
        font-size: 22px;
        border-radius: 49.9999%;
        border: 2px solid #8a8a8a;
        color: #8a8a8a;
        display: block;
        text-align: center;
        padding-top: 6px;
        margin: 0 auto; }
        .pagination-link .pagination-number .pagination-number-container .pagination-single-number:hover {
          background: #8a8a8a;
          color: #fff; }

/** Articolo Desktop **/
#section1-blog-article {
  background: #fff !important; }

.share-article {
  margin-top: 20px; }

.share-article a {
  color: #8a8a8a;
  margin-left: 20px; }
  .share-article a:hover {
    color: #ffd522; }

.share-article a.fb-share-article {
  padding: 0;
  text-align: center;
  width: 30px;
  height: 30px;
  color: #8a8a8a;
  border-radius: 49.9999%;
  border: 2px solid #8a8a8a;
  padding-top: 5px;
  font-size: 9px;
  margin-left: -10px;
  display: block; }
  .share-article a.fb-share-article:hover {
    background: #ffd522;
    border: 2px solid #ffd522; }

.content-article {
  margin-top: 120px; }
  .content-article h2 {
    font-weight: 500;
    text-transform: none;
    color: #8a8a8a;
    font-size: 28px; }
  .content-article h4 {
    font-size: 22px;
    font-weight: 300;
    color: #8a8a8a;
    margin-bottom: 50px; }
  .content-article p {
    color: #8a8a8a;
    font-weight: 300;
    font-size: 18px; }

.return-blog {
  margin-top: 30px; }
  .return-blog a {
    text-transform: uppercase;
    color: #71989e;
    font-weight: 300;
    font-size: 24px; }

/**                MOBILE                 **/
/** Homepage Mobile **/
@media screen and (max-width: 768px) {
  .header {
    height: 100%; }

  .navbar-custom {
    height: 100%;
    background-position: -330px 0; }

  .navbar-header {
    background: #fff;
    height: 50px !important; }

  .navbar-header-opened {
    background: #222121 !important;
    border: none !important; }

  .navbar-brand {
    margin-left: 10px; }
    .navbar-brand svg {
      width: 50px;
      height: auto;
      transition: all .5s ease-in-out;
      margin-top: -10px; }
      .navbar-brand svg path {
        fill: #3f4b56; }

  .navbar-brand-colored svg {
    width: 50px;
    height: auto;
    transition: all .5s ease-in-out;
    margin-top: -10px; }
    .navbar-brand-colored svg path {
      fill: #fff; }

  .remove {
    display: none;
    position: absolute;
    top: 0;
    right: 10px; }
    .remove i {
      color: #fff !important;
      font-weight: 300 !important; }

  .cf-custom {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0; }

  .container-fluid > .navbar-collapse {
    height: 100%;
    position: relative;
    transition: all 0.5s ease-in-out; }

  .navbar-toggle {
    background: none !important;
    border: none !important;
    box-shadow: none !important; }

  .icon-bar {
    background: #3f4b56; }

  .navbar-collapse {
    background: #222121;
    max-height: 100% !important; }

  .navbar-nav {
    margin: 0 !important;
    margin-top: 20px !important; }

  .navbar-nav li {
    margin-left: 0 !important;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #535353; }
    .navbar-nav li:last-child {
      border-bottom: none !important; }

  .navbar-nav li a {
    text-align: center;
    font-weight: 300;
    color: #f4f4f4; }

  .navbar-right li {
    border-bottom: none;
    float: left; }
    .navbar-right li.dropdown {
      margin-left: 100px !important;
      width: 20%; }

  .remove {
    display: none; }

  .central-logo {
    margin-top: -70px; }
    .central-logo img {
      width: 300px;
      height: auto; }

  .scrolldown-page {
    margin-top: 30px !important; }

  .section1 .cf-custom-section1 {
    padding-left: 15px;
    padding-right: 15px; }

  .back-right {
    display: none; }

  .back-left {
    background-size: 400px auto !important;
    width: 100% !important;
    height: 100% !important;
    background-position: 180px 400px !important;
    overflow: hidden; }

  .cf-custom-third-image-section4, .bottom-footer .cf-footer, .first-image-section4 p {
    padding-left: 5% !important;
    padding-right: 5% !important; }

  .first-image-section4 h2 {
    padding-top: 0; }

  .category-map {
    margin-bottom: 20px; }

  .third-image-section4 .image-buono {
    background-size: 100px auto;
    width: 100px;
    height: 100px;
    margin-top: 0;
    margin-bottom: 50px; }

  .menu-footer {
    display: none !important; }

  .bottom-footer p {
    border-right: none !important;
    padding-right: 0;
    margin-left: 0; }

  .social-footer ul {
    margin-left: 0 !important; }
    .social-footer ul li {
      margin-left: 0; }

  .newsletter-footer input {
    width: 200px;
    margin-bottom: 20px; }

  .img-allineate-right {
    display: inherit !important;
    margin-left: 0  !important;
    margin: 0 auto !important;
    margin-bottom: 50px !important; }

  .img-allineate-left {
    float: none !important;
    margin-left: 0 auto !important;
    margin: 0 auto !important;
    margin-bottom: 50px !important; } }
/** Foresterie Mobile **/
@media screen and (max-width: 768px) {
  .strutture-foresterie {
    margin-top: 20px; }

  .title-nascosto {
    display: block; }

  .info-nascoste {
    display: block;
    padding-top: 80%; }
    .info-nascoste a {
      font-weight: 300;
      font-size: 20px;
      text-transform: uppercase;
      color: #fff;
      background: #e36b5e;
      border: 2px solid #e36b5e;
      padding: 20px;
      border-radius: 3px; }

  .foto-no-pad {
    padding: 0; }
    .foto-no-pad .foto-wrapper {
      height: 650px;
      padding: 0;
      position: relative; }
      .foto-no-pad .foto-wrapper .foto {
        height: 100%;
        width: 100%;
        position: relative;
        background-position: center !important;
        background-size: cover !important;
        padding: 0;
        cursor: pointer;
        position: relative; }

  .button-foto-hover a {
    display: block;
    color: #fff;
    width: 120px;
    height: 120px;
    border-radius: 49.9999%;
    border: 2px solid #fff;
    text-align: center;
    padding-top: 40%;
    font-size: 20px;
    margin: 0 auto; }

  .title-foto-hover h2 {
    font-weight: 500;
    font-size: 24px;
    color: #fff;
    margin-top: 10px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important; }

  .remove-foto-hover {
    margin-top: 8px !important;
    text-align: right !important; }

  .remove-foto-hover {
    display: block; }

  .fa-remove:before, .fa-close:before, .fa-times:before {
    color: #fff; }

  .text-foto-hover p {
    padding-top: 40px !important; }

  #section3-foresterie h2 {
    margin-bottom: 10px !important; }

  .foto-no-pad .img-categoria, .foto-no-pad .img-categoria1, .foto-no-pad .img-categoria2, .foto-no-pad .img-categoria3 {
    float: none !important;
    margin: 0 auto;
    margin-top: 55%;
    margin-bottom: 2%; } }
/** Contatti Mobile **/
@media screen and (max-width: 768px) {
  .contact-newsletter {
    margin-top: 50px; }

  #section1-contatti .contact-newsletter input, #section1-contatti .contact-newsletter input.submit-newsletter {
    width: 100% !important;
    margin-top: 20px;
    margin-left: 0 !important; }

  form {
    width: 100% !important; }

  .cf0 {
    padding-right: 15px !important;
    padding-left: 15px !important; } }
/** Blog Mobile **/
@media screen and (max-width: 768px) {
  .article-wrapper {
    padding: 20px;
    padding-bottom: 100px; }

  .border-h2 {
    width: 100% !important; }

  .blog-right {
    padding-left: 15px; }
    .blog-right .last-comment-fb img {
      width: 50px;
      height: 50px; }
    .blog-right .social-sidebar .rss {
      margin-top: 20px; }
    .blog-right .social-link-sidebar {
      width: 40px;
      height: 40px;
      padding-top: 8px; }
    .blog-right .newsletter-sidebar .submit-sidebar {
      margin-top: 30px; }

  .blog-right .about-blog h2, .blog-right .last-comment-fb h2, .blog-right .tag-sidebar h2, .blog-right .newsletter-sidebar h2, .blog-right .book-sidebar h2 {
    text-align: center; } }

/*# sourceMappingURL=main.css.map */
